<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Freight</title>
    <link rel="stylesheet" type="text/css" href="styles/footer.css" />
</head>
<body>
    <div class="connected">
        <section class="quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </section>
        <section class="contacts">
            <h2>Contacts</h2>
            <p>Phone: +251944779932</p>
            <p>Email: easyef@gmail.com</p>
            <address>Addis Ababa, Ethiopia</address>
        </section>
        <section class="newsletter">
            <p>Subscribe for our newsletter</p>
            <div class="update">
                <input type="text" placeholder="Your Email">
                <button type="button">Submit</button>
            </div>
        </section>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Easy Freight. All Rights Reserved.</p>
        <section class="social">
            <a href="https://github.com/mahari9/Portfolio_Project" target="_blank">
                <img src="images/github.svg" alt="Easy Freight Logo">
            </a>
        </section>
    </footer>
</body>
</html>