<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Easy Freight - User Login</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/scripts/101-hbnb.js?cache_id={{ cache_id }}"></script>
  <link rel="stylesheet" type="text/css" href="styles/header.css" />
  <link rel="stylesheet" type="text/css" href="styles/login.css" />
  <link rel="stylesheet" type="text/css" href="styles/footer.css" />
</head>
<body>
  <include src="header.html"></include>
  
  <div class="container">
    <h2>User Login</h2>
    <p>Welcome Back!</p>
    {% with messages = get_flashes(with_categories=True) %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
    <form action="/login" method="POST" id="login-form">
      <div class="form-group">
          <label for="email">Email or Phone:</label>
          <input type="text" name="email" id="email" placeholder="Enter email or phone number" required>
      </div>
      <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" placeholder="Enter password" required>
      </div>
      <div class="form-group">
          <button type="submit">Login</button>
      </div>
      <p>Forgot Your Password? <a href="#">Forgot Password</a></p>
    </form>
  </div>
  <script src="static/script/login.js"></script>

  <include src="footer.html"></include>
</body>
</html>