body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header {
    height: 70px;
    width: 100%;
    background-color: #00FF7F;
    padding: 10px;
    display: flex;
    justify-content: space-between; /* Evenly distributes items */
    align-items: center;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav img {
    margin-right: 20px;
    width: 100px; /* Adjust width as needed */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 15px; /* Adjust padding between links */
  }
  
  nav a {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
  }

  nav a:hover {
    color: #daa520;
  }
  
  .search {
    display: flex;
    margin-left: auto; /* Move search section to the right */
  }
  
  .search input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
  }
  
  .search button {
    padding: 5px 10px;
    background-color: #000080;
    color: white;
    border: 1px solid #daa520;
    cursor: pointer;
  }

  .search button:hover {
    
    background-color: #00FFFF;
    color: #000000;
    border-color: #008000;
}

.connected {
  width: 100%;
  height: 140px;
  background-color: #00FF7F;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.quick-links {
  margin-left: 10px;
  flex-direction: column; 
  margin-top: 0px;
}

.quick-links h2 {
  color: #000000;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
}

.quick-links ul {
  list-style: none;
  padding: 5px;
  margin-top: 5px;
}

.quick-links li {
  padding: 5px 10px;
}

.quick-links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

div a:hover {
  color: #daa520;
}

.contacts {
  padding: 0px;
  text-align: left;
  display: flex;
  flex-direction: column; 
}

.contacts h2 {
  margin-bottom: 10px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.contacts p, address {
  margin: 5px;
  margin-left: 10px;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}

.newsletter {
  margin-right: 10px;
  display: flex;
  flex-direction: column; 
}
.newsletter h2 {
  color: #000000;
  padding: 0px;
  font-size: 160px;
  font-weight: bold;
}

.update {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.update input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  align-items: center;
}

.update button {
  width: 100px;
  height: 40px;
  padding: 5px 10px;
  background-color: #000080;
  color: white;
  border: 1px solid #daa520;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 45px ;
}

.update button:hover {
  
  background-color: #daa520;
  color: #000000;
  border-color: #008000;
}
  
footer {
	background-color: #00FF7F;
	height: 40px;
	width: 100%;
	border-top: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 0;
}
